<ThemeToggle @theme={{if isDark "dark" "light"}}>
  <div class="R--application">
    <div class="R--application_topbar">
      <div class="wrapper">
        <SocialMedia />
        
        {{x-toggle
          theme="material"
          size="small"
          value=this.isDark
          showLabels=true
          offLabel=(t "theme.light")
          onLabel=(t "theme.dark")
          onToggle=(action (mut isDark))
          class="themebutton"
        }}
      </div>
    </div>

    <nav class="R--application_nav">
      <div class="wrapper">
        <ul class="list">
          <li class="item">
            {{#link-to "index" class="link" activeClass="-active" data-test-link-to-home=""}}
              {{t "nav.about"}}
            {{/link-to}}
          </li>
        </ul>

        <div class="languages">
          {{#each selections as |model|}}
            <button class={{if model.active "-active"}} {{action "changeLocale" model.locale}}>
              {{model.locale}}
            </button>
          {{/each}}
        </div>
      </div>
    </nav>

    <main class="R--application_main">
      {{outlet}}
    </main>
  </div>
</ThemeToggle>