<div class="R--index">
  <section class="R--index_subject">
    <span class="avatar"></span>

    <header class="header">
      <h1 class="name">{{t "about.name"}}</h1>
    </header>

    <h2 class="phrase">{{t "about.title" htmlSafe=true}}</h2>

    <div class="contact">
      <span class="email">{{svg-jar "email" class="icon" width=".75rem"}} {{t "contact.email"}}</span>
      <span class="phone">{{svg-jar "whatsapp" class="icon" width=".75rem"}}  {{t "contact.phone"}}</span>
      <div class="actions">
        <a href="mailto:contato@denistoledo.com.br?subject=Mail from Our Site" class="btn -mail">
          {{svg-jar "email" class="icon" width="1rem"}}
        </a>
        <a href="tel:4901744310644" class="btn -phone">
          {{svg-jar "phone" class="icon" width="1rem"}}
        </a>
        <a href="https://wa.me/4901744310644" class="btn -whatsapp">
          {{svg-jar "whatsapp" class="icon" width="1rem"}}
        </a>
      </div>
    </div>
  </section>

  <article class="R--index_info">
    {{svg-jar "quote-left" class="quote" width="2rem"}}
    <p class="paragraph">{{t "about.description.paragraph1"}}</p>
    <p class="paragraph">{{t "about.description.paragraph2"}}</p>
    <p class="paragraph">{{t "about.description.paragraph3"}}</p>
    {{svg-jar "quote-right" class="quote -bottom" width="2rem"}}
  </article>
</div>